
/* CUSTOM FONT */ 
@font-face {
    font-family: 'fav_font';
    src: url('fonts/fav_font.ttf') format('truetype'),
         url('fonts/fav_font.woff') format('woff'),
         url('fonts/fav_font.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'fav_font', sans-serif; 
}

/* Full screen background with portrait GIF */
.background {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("../img/bg.gif") center;
  background-size: contain;   
  background-color: rgb(255, 158, 214);  
}

/* Intro text styling */
h1, h2, h3, h4, h5, .container-letter p, .container-last p{
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    2px 2px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    0px -1px 0 #000,
    0px 1px 0 #000;
}

#div-intro h1 {
  font-size: 2rem;
  color: #fff;
}

#div-intro h2 {
  font-size: 1.2rem;
  color: #ffffff;
}

/* Form styling */
#div-form input.form-control {
  max-width: 400px;
}

#div-form h5{
  font-size: 1.2rem;
  color: #ffffff;
}

/* BUTTON */
.button { 
  background-color: #ff7be0d5;
  color: #ffffff;
  padding: 10px 20px; 
  font-size: 16px; 
  max-width: 400px;
  margin: auto;
  align-items:center;
  border-color: #ff7be0d5;
  border-radius: 50px;
}

.input-name{
  border-radius: 10px;
  padding: 20px; 
  max-width: 600px;
  margin: auto;
  height: 15px;
  font-size: 20px; 
  align-items: center;
  border-color: #ff7be0d5;
}

/*---------- THEA FRITZ N TONYENG ---------- */

.container-letter, .container-last{
  color:#ffffff
}