
/* INDEX

body { 
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;

    background: url("/valentines/img/bg.gif") no-repeat center center;
    background-size: contain;
    background-color: black; 
}


input { 
    padding: 20px; 
    max-width: 500px;
    margin: auto;
    height: 15px;
    font-size: 20px; 
    border: 3px solid #e94444;
    align-items: center;
} 

button { 
    padding: 10px 20px; 
    font-size: 16px; 
    max-width: 500px;
    margin: auto;
    align-items:center;
}
*/

/* Full screen background with portrait GIF */
.background {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url("/valentines/img/bg.gif") no-repeat center center;
  background-size: contain;   
  background-color: rgb(255, 158, 214);  
}

/* Intro text styling */
#div-intro h1 {
  font-size: 2rem;
  color: #fff;
}

#div-intro h3 {
  font-size: 1.2rem;
  color: #ffffff;
}

/* Form styling */
#div-form input.form-control {
  max-width: 400px;
}

#div-form h5{
  font-size: 1.2rem;
  color: #ffffff;
}

.button { 
  background-color: #ff7be0d5;
  color: #ffffff;
  padding: 10px 20px; 
  font-size: 16px; 
  max-width: 400px;
  margin: auto;
  align-items:center;
  border-color: #ff7be0d5;
  border-radius: 50px;
}

.input-name{
  border-radius: 10px;
  padding: 20px; 
  max-width: 500px;
  margin: auto;
  height: 15px;
  font-size: 20px; 
  align-items: center;
  border-color: #ff7be0d5;

}